body > header {
	border-bottom: 1px solid var(--accent);
}
body > footer {
	border-top: 1px solid var(--accent);
}

.portfolio-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: min-content;
	align-items: center;
}
.portfolio-figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portfolio-links {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-button {
	font-weight: bold;
}
.portfolio-title, .portfolio-button {
	margin: 0.1rem;
}
